<nav class="sidebar-nav">
    <div class="sidebar-nav__brand">Goals</div>
    <ul class="sidebar-nav__list">
        <li>
            <a class="sidebar-nav__link" routerLink="/home" routerLinkActive="sidebar-nav__link--active">Home</a>
        </li>
        <li>
            <a class="sidebar-nav__link" routerLink="/today" routerLinkActive="sidebar-nav__link--active">Today's Goals</a>
        </li>
        <li>
            <a class="sidebar-nav__link" routerLink="/goals/history" routerLinkActive="sidebar-nav__link--active">Goal History</a>
        </li>
        <li>
            <a class="sidebar-nav__link" routerLink="/goals/recurring/new" routerLinkActive="sidebar-nav__link--active">Recurring Goal</a>
        </li>
        <li>
            <a class="sidebar-nav__link" routerLink="/goals/tree" routerLinkActive="sidebar-nav__link--active">Goal Tree</a>
        </li>
    </ul>
</nav>
